<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.timweb.android"
    android:versionCode="1"
    android:versionName="@string/app_version" xmlns:tools="http://schemas.android.com/tools" tools:ignore="UsesMinSdkAttributes">

    
    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChooseTrackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.RunningActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PreferencesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.stats.StatisticActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >

        </activity>
        <activity
            android:name=".activity.stats.GoogleMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.stats.DiagrammActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".activity.CreditsActivity"
            android:screenOrientation="portrait"></activity>
         <activity
            android:name=".activity.stats.OverviewActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>